{% extends "base.html" %}

{% block title %}{% endblock title %}
{% block content %}
{% load static %}
<div style="width: 40%" class="container">
    <div style="background-color: rgb(240,240,240)"class='text-center'>
        <p style="color: rgb(40,40,40)"class="pt-3"><strong>Marketplace</strong></p>
        <img class="pb-4"style="width:50px"src="{% static 'images/tokopedia.png'%}" alt="">
        <hr class="px-5 w-50 m-auto py-3">
        <strong> <p class="">Kontak</p> </strong>
        <p class='m-2'>+62 812-1308-3356</p>
        <p>admin@fetishia.store</p>
        <hr class="px-5 w-50 m-auto py-3">
    </div>
    
</div>
{% endblock content %}

{% block customscript %}{% endblock customscript %}