{% if cart.cart %}
{% load humanize %}
<table name="table-totals" class='table-borderless w-100 mb-auto'>
    <thead>
        <tr>
            <th class='p-2'>Total Belanja</th>
        </tr>
    </thead>
    <tbody>
        <tr style="height: 10px;">
            <td style="color: gray" class='p-2 fw-normal'><span>subtotal</span> <span style="float: right;">Rp. {{cart.subtotal | intcomma}}</span></td>
        </tr>
        <tr>
            <td style="color: gray" class='p-2 fw-normal'><span>Berat (g)</span> <span style="float: right;"> {{cart.total_weight | intcomma}} g</span></td>
        </tr>
        <tr style="height: 10px;">
            <td style="color: gray" class='p-2 fw-normal'><span>Pengiriman</span> <span style="float: right;">Rp 20.000</span></td>
        </tr>
        <tr style="height: 10px;">
            <td class='p-2 fw-normal'><span>Total</span> <span style="float: right;">Rp. {{cart.total | intcomma}}</span></td>
        </tr>         
        {% if not cart.weight_condition %}
        <tr style="height: 10px;">
            <td class='p-2 fw-normal text-danger'><span class="text-danger"></span>Berat tidak boleh melebihi 30kg (30.000g) tolong kurangi pesanan anda</td>
        </tr>    
        {% endif %}        
    </tbody>
    <tfoot>
        {% if cart.weight_condition %}
        <tr><td><a href="{% url 'cart:transaction' %}"class="btn btn-dark rounded-0 w-100 fw-bold" href="">Pembayaran</a> </td></tr>
        
        {% else %}
        <tr><td><a href="{% url 'cart:transaction' %}"class="btn btn-dark rounded-0 w-100 fw-bold disabled" href="">Pembayaran</a></td></tr>
        {% endif %}
    </tfoot>
</table>
{% endif %}