{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock%}

{% block content %}

{% if cart.cart %}
<form id="order" method='POST'>
<div class= "container custom-container">
    <h6>Beranda/Bayar</h6>

    <div class='row'>
        <div class='col-md-7'>
            {% if user.is_authenticated%}
            {% else %}
            <div class="border px-5 py-2 mb-3">
                <p class="m-0"><a style="color:black"href="{% url 'user-auth' %}">sudah punya akun?</a></p>
            </div>
            {% endif %}

            <div class="border p-5">

                    {% csrf_token %}
                    <div class="row">
                        <div class='col'>
                            <label for="id_first_name">Nama Depan <span style="color: red">* </span>: </label>
                            {{form.first_name}}
                            {% if form.first_name.errors %}
                                {{form.first_name.errors}}
                            {% endif %}
                        </div>
                        <div class="col">
                            <label for="id_last_name">Nama Belakang : <span style="color: red">* </span></label>
                            {{form.last_name}}
                            {% if form.last_name.errors %}
                                {{form.last_name.errors}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <label for="id_email">Email : <span style="color: red">* </span></label>
                            {{form.email}}
                            {% if form.email.errors %}
                                {{form.email.errors}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <label for="id_phone_number">Nomor Telepon : <span style="color: red">* </span></label>
                            {{form.phone_number}}
                            {% if form.phone_number.errors %}
                                {{form.phone_number.errors}}
                            {% endif %}
                        </div>
                    </div>
    
                    <div class="row mt-3">
                        <div class="row">
                            <div class='col'>
                                <p>Alamat Tujuan</p>
                            </div>
    
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <label for="id_province">Provinsi : <span style="color: red">* </span></label>
                            {{form.province}}
                            {% if form.province.errors %}
                                {{form.province.errors}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <label for="id_city">Kota/Kabupaten : <span style="color: red">* </span></label>
                            {{form.city}}
                            {% if form.city.errors %}
                                {{form.city.errors}}
                            {% endif %}
                        </div>
                    </div>
                    {% comment %} <div class="row my-2">
                        <div class="col">
                            <label for="id_district">Kecamatan : <span style="color: red">* </span></label>
                            {{form.district}}
                            {% if form.district.errors %}
                                {{form.district.errors}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <label for="id_village">Desa : <span style="color: red">* </span></label></label>
                            {{form.village}}
                            {% if form.village.errors %}
                                {{form.village.errors}}
                            {% endif %}
                        </div>
                    </div> {% endcomment %}
                    <div class="row my-2">
                        <div class="col">
                            <label for="id_address">Alamat : <span style="color: red">* </span></label>
                            {{form.alamat}}
                            {% if form.alamat.errors %}
                                {{form.alamat.errors}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <label for="id_post_code">Kode Pos : <span style="color: red">* </span></label>
                            {{form.post_code}}
                            {% if form.post_code.errors %}
                                {{form.post_code.errors}}
                            {% endif %}
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="row my-2">
                        <div class="col">
                            <div class="form-check">
                                {{form.is_save}}
                                <label class="form-check-label" for="id_is_save">Simpan Alamat? :</label>
                                {% if form.is_save.errors %}
                                    {{form.is_save.errors}} 
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    {% endif %}
                
            </div>
            <div class="border px-5 py-3 mt-3">
                <p class="m-0 fw-bold mb-5">Informasi Tambahan</p>
                <label class="fw-light mb-2"for="id_additional_information">Catatan order (opsional)</label>
                {{form.cust_note}}
                {% if form.cust_note.errors %}
                    {{form.cust_note.errors}}
                {% endif %}

            </div>
        </div>
        <div class="col-md-5">
            <div id="table-pesanan"class='border px-5 py-3'>
                <h6>Pesanan Anda</h6>
                <table class="table" id="tb-content-pesanan">
                    <thead>
                        <th>Produk</th>
                        <th>Subtotal</th>
                    </thead>
                    {% load humanize %}
                    <tbody>
                        {% for item in cart.cart %}
                        <tr>
                            <td class="fw-light">{{item.product.title}} x {{item.quantity}}</td>
                            <td class="fw-light">Rp. {{item.total_itemprice | intcomma}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th>Berat</th>
                            <td>{{ cart.total_weight | intcomma}} g</td>
                        </tr>
                        <tr>
                            <th>Pengiriman</th>
                            {% if content %}
                                {% include 'cart/transaksi-pesanan.html' %}
                            {% else %}
                             <td id="pengiriman">-</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>total</th>
                            <td id="total-harga">Rp. {{cart.total|intcomma}}</td>
                        </tr>   
                    </tbody>
                </table>

            </div>
            <div class="border mt-3 p-4">
                <label>Transfer bank langsung</label>
                <div style="background-color: rgb(245, 245, 245)"class="p-2 mt-2">
                    <p style="font-size: 14px; color: gray">Lakukan pembayaran Anda langsung ke rekening bank kami. Silakan gunakan ID Pesanan Anda sebagai referensi pembayaran. Pesanan Anda tidak akan dikirim sampai dana telah berhasil diterima di rekening kami</p>
                </div>
                <p  class="mt-3"style= "font-size: 14px">
                    Data pribadi Anda akan digunakan untuk memproses pesanan Anda, menunjang pengalaman Anda di seluruh situs web ini, dan untuk tujuan lain yang dijelaskan dalam kebijakan privasi kami.
                </p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check-term">
                    <label style="font-size: 14px" class="form-check-label" for="check-term">
                        Saya telah membaca dan setuju dengan syarat dan ketentuan yang berlaku pada website ini
                    </label>
                </div>
                <p id="warning-pengiriman"></p>
                <button id="submit-data"type="submit" form="order" class="btn btn-dark rounded-0 w-100 mt-4">Buat Pesanan</button>
            </div>
        </div>

    </div>
</div>
</form>
{% else %}
<h3 class="text-center">Keranjang Kosong</h3>
{% endif %}


{% endblock content%}

{% block customscript %}
<script type='text/javascript'>
    
    $(document).ready(function () {
        $("#submit-data").attr("disabled", true)
    })

    $(document).on("change",'select[name="province"]', function() {
        let id = $(this).val()
        if (id) {
            $.ajax({
                type: "GET",
                url: "{% url 'cart:select-city' %}",
                data: {'province_id' : id},
                success: function(res) {
                    let select = $("select[name='city']")
                    select.html('')

                    select.append('<option selected value=""> Pilih Kota </option>')
                    $(res.cities).each(function (i, val) {                    
                        select.append(`<option value="${val['id']}">${val['city_name']}</option>`)
                    })
                }
            })
        }        
    })

    $(document).on("change",'select[name="city"]', function() {
        console.log("test")
        let id = $(this).val()
        let spinner =
        `<div class="spinner-overlay d-flex justify-content-center align-items-center">
            <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
            </div>
        </div>`

        if (id) {
            $("#tb-content-pesanan").append(spinner)
            $.ajax({
                type: "GET",
                url: "{% url 'cart:get-ongkir' %}",
                data :{
                    city : id
                },
                success: function(res) {
                    $("#pengiriman").replaceWith(res.component)
                    $('.spinner-overlay').remove();
                    a = res
                },
                error: function(e) {
                    console.log("Gagal")
                    $('.spinner-overlay').remove();
                }
            })
        }        
    })

    $(document).on("change", 'input[name="radio-pengiriman"]', function() {
        let spinner =
        `<div class="spinner-overlay d-flex justify-content-center align-items-center">
            <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
            </div>
        </div>`
        $("#tb-content-pesanan").append(spinner)

        $.ajax({
            type:"GET",
            url: "{% url 'cart:count-total' %}",
            data : {
                ongkir : this.value
            },
            success: function(res) {
                console.log("res : ", res)
                let formattedTotal = res.total.toLocaleString('id-ID', {style: 'currency', currency: 'IDR'});
                $("#total-harga").html(formattedTotal)
                $('.spinner-overlay').remove();
            }
        })
        
        
    })

    {% comment %} $(document).on("change",'select[name="district"]', function() {
        let id = $(this).val()
        if (id) {
            $.ajax({
                type: "GET",
                url: "{% url 'cart:select-village' %}",
                data: {'district_id' : id},
                success: function(res) {
                    let select = $("select[name='village']")
                    select.html('')
                    
                    select.append('<option selected value=""> Pilih Desa/Kelurahan </option>')
                    $(res.villages).each(function (i, val) {                    
                        select.append(`<option value="${val['id']}">${val['name']}</option>`)
                    })
                }
            })
        }        
    })     {% endcomment %}

    $("#check-term").on("change", function () {
        if (this.checked) {
            a = $("input[name='radio-pengiriman']")
            for(let i = 0; i < a.length; i++ ) {
                if (a[i].checked) {
                    $("#submit-data").attr("disabled", false)
                }
            }
        } else {
            $("#submit-data").attr("disabled", true)
        }
    })

    $(document).on("click", "input[name='radio-pengiriman']", function() {
        if ($("#check-term")[0].checked) {
            $("#submit-data").attr("disabled", false)
        } else {
            $("#submit-data").attr("disabled", true)
        }
    });
</script>


{% endblock customscript %}