{% extends "base.html" %}


{% block title %}
{{title}}
{% endblock %}

{% block content %}
{% load static %}
<div class="container text-center">
    <h3>Archives:Toko</h3>
    <p>Beranda / Toko</p>
    <form method="GET" action="{% url 'products:index' %}">
        <div class="row mb-5">
            <div class="col-2 offset-9">
                <input id="cari-produk" name='q' type="text" value="{{query}}" class="form-control" placeholder="Cari produk...">
            </div>
            <div class="col-1 px-0">
                <button id="trigger-cari" type="submit" class="btn btn-dark w-100">Cari</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% if all_products %}
                    {% for product in all_products %}
                        <div name="product-card" class="col-lg-3 col-sm-6 px-4">
                            <div style="height: 26rem">
                            {% load static %}
                            {% if product.image %}
                            <a href="{% url 'products:product-details' product.slug %}">
                                <img style="width: max-content; height: 18rem;"class="img-fluid object-fit-cover border rounded"src="{{product.image.url}}" alt="">
                            </a>       
                            {% else %}
                            <a href="{% url 'products:product-details' product.slug %}">
                                <img style="width: max-content; height: 18rem;"class="img-fluid object-fit-cover border rounded"src="{% static 'images/no-img.jpg' %}" alt="">
                            </a> 
                            {% endif %}               
                            <h6 class="text-break mt-3">{{product.title}}</h6>
                            <p>Rp {{product.price}}</p>
                        </div>
                        {% if product.stock == 0 %}
                        <button disabled class="btn btn-dark rounded-5 mb-5" type="button">Produk Habis</button>
                        {% else %}
                        <button onclick="addToCart({{product.id}}, this, 1)" class="btn btn-dark rounded-5 mb-5" type="button">Tambah ke Keranjang</button>
                        {% endif %}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-3 text-start">
            <h6><a class="link-underline-dark"href="">Kategori Produk</a></h6>
            {% for category in categories %}
            <p class="m-0"><a class="link-dark link-underline-opacity-0"href="{% url 'products:product-category' category.slug%}">{{category.name}} </a></p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-9 px-4 d-flex justify-content-end">
            <p class="mb-2 mt-3">Menampilkan {{ page_obj.number }} dari {{ page_obj.paginator.num_pages }} halaman</p>
        </div>
    </div>
    <div class="row">
        <div class="col-9 px-4 d-flex justify-content-end">
            
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number}}"> Previous</a></li>
                    {% endif %}
                    
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number}}"> Next </a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                  {% comment %} <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li> {% endcomment %}

                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %} 
{% block customscript %}
{% comment %} <script type="text/javascript">

    $("#trigger-cari").on("click", function() {
        let cari = $("#cari-produk").val()
        let param = {
            "query" : cari
        }
        $.ajax({
            type: "GET",
            url: "{% url 'products:index' %}",
            data: param,
            success: function() {
                console.log("success")
            },
            error: function(e) {
                console.log("error")
            }
        })
    })
    a = 5;
</script> {% endcomment %}
<script type="text/javascript">
    // fungsi renderCart ada di base.html
</script>
{% endblock customscript %}