{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block content%}
{% load static %}

<div class="container">
    <div class="row mx-5">
        <div class="col-5">
                {% if product.image %}
                <img style="max-width: 100%"class="w-100 img-fluid object-fit-cover border"src="{{product.image.url}}" alt="">        
                {% else %}
                {% load static %}
                <img style="max-width: 100%"class="w-100 img-fluid object-fit-cover border"src="{% static 'images/no-img.jpg' %}" alt="">   
                {% endif %}
                
        </div>
        <div class="col-md-6">
            <h1 class='title-product-detail'>{{product.title}}</h1>
            <span class='sold-tag'>terjual sebanyak : {{product.sold}}</span>
            <p class="product-description">{{product.description}}</p>
            {% load humanize %}
            <h4 class="mb-3">Rp {{product.price|intcomma }}</h4>
            <div class="row form-group">
                <div class="col-2">
                    <input id="count-cart" type="number" class="form-control text-center" value=1>
                </div>
                <div class="col-auto">
                    {% if product.stock == 0 %}
                    <button disabled class="btn btn-dark rounded-5 mb-5" type="button">Produk Habis</button>
                    {% else %}
                    <button id="tambah-keranjang"onclick="insertCart({{product.id}})" class="btn btn-dark rounded-5 mb-5" type="button">Tambah ke Keranjang</button>
                    {% endif %}
                    
                </div>                
            </div>
            <h5>Stok : {{product.stock}}</h5>
            <div><strong>Kategori |</strong> {{product.category}}</div>
            <a href="https://wa.link/5moh93"><img class="logo-wa" src="{% static 'images/wa_button.png' %}" alt=""> </a>
            {% if product.link_tokopedia %}
            <div style="background-color: rgb(240,240,240)" class="p-3 rounded-2 w-50">
                <p style="color: rgb(150,150,150)">Beli produk ini via marketplace</p>
                <a href="{{product.link_tokopedia}}"><img style="width:50px" src="{% static 'images/tokopedia.png' %}" alt=""></a>
            </div>
            {% endif %}                           
        </div>

    </div>
</div>



{% endblock %}
{% block customscript %}
<script type="text/javascript">

    function insertCart(prod_id) {
        let count = $("#count-cart").val()
        let tombol = document.getElementById("count-cart")

        addToCart(prod_id, tombol, count)
    }
</script>
{% endblock customscript %}
